@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 3rem;
  font-weight: normal;
  background-color: aqua;
}

@media (max-width: 499px) {
  #app {
    padding-top: 0;
  }
}

